name: faux-unittest

on:
  pull_request:
    branches: [ master ]
    paths:
    - LICENSE
    - '**.md'
    - .github/workflows/run-crucible-tracking.yaml
    - .github/workflows/faux-crucible-ci.yaml
    - .github/workflows/faux-unittest.yaml
    - 'docs/**'

jobs:
  multiplex-unittests:
    runs-on: ubuntu-latest
    steps:
    - run: 'echo "No build required" '
